In [4]:
import pandas as pd
import numpy as np

In [14]:
# To read the data (csv) from a given path and load it in the pandas dataframe
path = "data/iris/iris.data"
names = ['x1','x2','x3','x4','y',]
iris_data = pd.read_csv(path, names=names)

In [15]:
iris_data.head()

    x1   x2   x3   x4            y
0  5.1  3.5  1.4  0.2  Iris-setosa
1  4.9  3.0  1.4  0.2  Iris-setosa
2  4.7  3.2  1.3  0.2  Iris-setosa
3  4.6  3.1  1.5  0.2  Iris-setosa
4  5.0  3.6  1.4  0.2  Iris-setosa

In [16]:
# to see informatiion related to the data.
# such as number of datapoints present, what is the datatype, and more.....
iris_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   x1      150 non-null    float64
 1   x2      150 non-null    float64
 2   x3      150 non-null    float64
 3   x4      150 non-null    float64
 4   y       150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [17]:
# To get a specific column
iris_data['x1']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: x1, Length: 150, dtype: float64

In [18]:
# To see the number of classes in the data. The class is saved in the last column
set(iris_data['y'])

{'Iris-setosa', 'Iris-versicolor', 'Iris-virginica'}

In [19]:
# To get a specific row in a pandas dataframe
iris_data.iloc[100]

x1               6.3
x2               3.3
x3               6.0
x4               2.5
y     Iris-virginica
Name: 100, dtype: object

# Exercise: to save the input in an numpy array

In [21]:
# To map the classes name to numbers.
mapping = {}
class_index = 1
for class_ in set(iris_data['y']):
    mapping[class_] = class_index
    class_index += 1
mapping

{'Iris-virginica': 1, 'Iris-versicolor': 2, 'Iris-setosa': 3}

In [22]:
# Converting the input/features and output/targets to numpy array
np_iris_data = np.zeros((150,4)) # Only the features
y = [] # Only the class label
for i in range(len(iris_data)):
    np_iris_data[i] = iris_data.iloc[i][:4]
    y.append(mapping[iris_data.iloc[i][-1]])

# Question: can we plot the data?

# Train the KNN classifier learnt in the class on this data and report the accuracy