In [2]:
#29
from datetime import date
a=int(input("Enter the year: "))
b=int(input("Enter the month: "))
c=int(input("Enter the day: "))
a1=int(input("Enter the year: "))
b1=int(input("Enter the month: "))
c1=int(input("Enter the day: "))
f_date=date(a,b,c)
l_date=date(a1,b1,c1)
nd=l_date-f_date
print("Total number of days",nd.days)

Enter the year: 2003
Enter the month: 12
Enter the day: 12
Enter the year: 2004
Enter the month: 12
Enter the day: 12
Total number of days 366

In [3]:
#30
a=int(input("salary of the person: "))
hra=0.27*a
da=0.28*a
tax=0.15*a
ts=a+hra+da-tax
print("HRA of basic salary:",hra)
print("DA of basic salary:",da)
print("TAX to be deducted:",tax)
print("Total salary:",ts)

salary of the person: 15000
HRA of basic salary: 4050.0000000000005
DA of basic salary: 4200.0
TAX to be deducted: 2250.0
Total salary: 21000.0

In [6]:
#31
def si(P,R,T):
    P=int(input("Principle amount:"))
    R=int(input("rate of interest:"))
    T=int(input("enter time:"))
    s=(P*R*T/100)
    print(s)
P=20000
R=2
T=2
si(P,R,T)

Principle amount:21000
rate of interest:2
enter time:2
840.0

In [10]:
#32
def fac(a):
    t=a
    f=1
    while a>0:
        f=f*a
        a=a-1
    print("the number is: ",t)
    print("factorial is:",f)
fac(6)

the number is:  6
factorial is: 720

In [12]:
#33
a=int(input("Enter a number:"))
def bin(a):
    if(a>1):
        bin(a//2)
    print(a%2,end=" ")
bin(a)

Enter a number:5
1 0 1

In [14]:
#34
print("1=mini,2=sedan,3=SUV")
v=int(input("Enter the varient of cab(1/2/3):"))
d=int(input("Enter the distance to travel in km:"))
def cabfare():
    if v==1:
        fare = 30*d
    elif v==2:
        fare = 50*d
    elif v==3:
        fare = 70*d
    else:
        print("invalid input")
print("cab varient is:",v,"fare in rs",fare+fare*0.05)
cabfare()

1=mini,2=sedan,3=SUV
Enter the varient of cab(1/2/3):3
Enter the distance to travel in km:23

NameError: name 'fare' is not defined

In [ ]:
#35
def calci():
    a=int(input("Enter a number: "))
    b=int(input("Enter a number: "))
    operation = input("enter the operation to be performed +/-/*//")
    def oper():
        if operation =="+":
            print(a,"+",b,"=",a+b)
        elif operation =="-":
            print(a,"-",b,"=",a-b)
        elif operation =="*":
            print(a,"*",b,"=",a*b)
        elif operation =="/":
            print(a,"/",b,"=",a/b)
        else:
            print("Incorrect input")
    oper()
calci()

In [ ]:
#35
def calci():
    a=int(input("Enter a number: "))
    b=int(input("Enter a number: "))
    operation = input("enter the operation to be performed +/-/*//")
    def oper():
        if operation =="+":
            print(a,"+",b,"=",a+b)
        elif operation =="-":
            print(a,"-",b,"=",a-b)
        elif operation =="*":
            print(a,"*",b,"=",a*b)
        elif operation =="/":
            print(a,"/",b,"=",a/b)
        else:
            print("Incorrect input")
    oper()
calci()

In [7]:
print('input radius of the circle as argument for this function')
def area_cir(r):
    import numpy as np
    area = (np.pi) * (r**2)
    print('Area of the circle with radius ',r,'cm is ',area,'square cm')
area_cir(6)

input radius of the circle as argument for this function
Area of the circle with radius  6 cm is  113.09733552923255 square cm

In [9]:
print('input the base and height respectively as arguments of this function')
def area_tri(b,h):
    area = (1/2) *b*h
    print('Area of triangle with base {}cm and height {}cm is {}square cm'.format(b,h,area))
area_tri(5,6)

input the base and height respectively as arguments of this function
Area of triangle with base 5cm and height 6cm is 15.0square cm

In [31]:
def recur_fac(n):
    if n==1:
        return n
    else:
        return n*recur_fac(n-1)
    n = int(input('enter a number'))
if n<0:
        print('Sorry, factorial does not exist for negative numbers.')
elif n==0 or n==1:
            print('factorial for {} is 1'.format(n))else:
        print('factorial of {} is'.format(n),recur_fac(n))

In [30]:
a = int(input('enter a number:'))
def bin(a):
    if(a>1):
        bin(a//2)
    print(a%2,end = " ")
bin(a)

enter a number:876
1 1 0 1 1 0 1 1 0 0

In [47]:
print("1= Mini,2= Sedan,3 = SUV")
v = int(input('enter the variant of cab(1/2/3): '))
d = int(input('enter the distance to travel in kilometers: '))
def cabfare():
    if v==1:
        fare=30*d
    elif v==2:
        fare=50*d
    elif v==3:
        fare=70*d
    else:
        print("invalid input")
    print("cab variant is: ",v,"fare is rupees ",fare+fare*0.05)
cabfare()

1= Mini,2= Sedan,3 = SUV
enter the variant of cab(1/2/3): 3
enter the distance to travel in kilometers: 21
cab variant is:  3 fare is rupees  1543.5

In [ ]:
def calci():
    a = int(input('enter the number'))
    b = int(input('enter the number'))
operation = input('enter the operation to be performed +/-/*//')
def oper():
    if operation =="+":
        print(a,"+",b,"=",a+b)
    elif operation =="-":
print(a,"-",b,"=",a-b)
elif operation =="*":
print(a,"x","=",a*b)
elif operation == "/":
print(a,"/","=",a/b)
else:
print('Incorrect input')
n = input('To redo press y else press any other key: ')
oper()
calci()

In [1]:
s = ["Shivani",2003,"Name",2126]
for i in s:
    print(i)

Shivani
2003
Name
2126

In [3]:
def listing():
    list1 = list(input('enter the elements of the list: '))
    print(list1)
listing()

enter the elements of the list: shivani1234
['s', 'h', 'i', 'v', 'a', 'n', 'i', '1', '2', '3', '4']

In [4]:
a = ['shivani',26,"Name"]
b = ["My","Family"]
a+b

['shivani', 26, 'Name', 'My', 'Family']

In [5]:
a*2

['shivani', 26, 'Name', 'shivani', 26, 'Name']

In [8]:
emp = {'student1':{'Name':'shivani','Age':19,'Gender':'Female'},
'student2':{'Name':'ayushi','Age':19,'Gender':'Female'}}
for a in emp:
    print(a)
for b in emp[a]:
    print(b,':',emp[a][b])

student1
student2
Name : ayushi
Age : 19
Gender : Female